# This username will be a JupyterHub admin
JUPYTERHUB_ADMIN=admin
# Notebook cpu limit
DOCKER_LAB_CPU=1
# Notebook gpu set
DOCKER_LAB_GPU=""
# Notebook memory limit
DOCKER_LAB_MEM=4G
# Notebook images
DOCKER_LAB_IMAGE=jupyter/scipy-notebook;cschranz/gpu-jupyter:v1.5_cuda-11.6_ubuntu-20.04